
  
  .stock-container {
    padding: 2rem;
    font-family: 'Segoe UI', sans-serif;
  }

  h1 {
    margin-bottom: 1rem;
  }

  .filters {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
  }
  
  
  .filters select,
  .filters input {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    min-width: 150px;
  }
  label{
    margin-top: 0.5rem;
    font-weight: 500;
  }
  .search {
    margin-left: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fafafa;
    box-shadow: 0 0 5px rgba(0,0,0,0.05);
    border-radius: 8px;
    overflow: hidden;
  }
  
  th, td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #eee;
  }
  