<div class="head-container ">
    <div class="menu-container">
      <div class="menu-item">
        <img src="assets\images\intraday.svg" alt="Events" />
        <span>Events</span>
      </div>
      <div class="menu-item">
        <img src="assets\images\intraday.svg" alt="Intraday" />
        <span>Intraday</span>
      </div>
      <div class="menu-item" [routerLink]="['/ipos']" style="cursor: pointer;">
        <img src="assets\images\intraday.svg" alt="IPO"  />
        <span>IPO</span>
      </div>
      <div class="menu-item">
        <img src="assets\images\intraday.svg" alt="Screener" />
        <span>Screener</span>
      </div>
    </div>
    </div>
    
    