<div class="ipo-container">
  <h2>All IPOs</h2>

  <div class="filters">
    <select [(ngModel)]="selectedStatus" (change)="filterandSort()">
      <option value="">All</option>
      <option value="expected">expected</option>
      <option value="filed">filed</option>
      <option value="priced">priced</option>
      <option value="withdrawn">withdrawn</option>
    </select>
    <label style="margin-left: 2rem">From:</label>
    <input
      type="date"
      [(ngModel)]="fromDate"
      placeholder="Date Range"
      (change)="filterandSort()"
    />
    <label>To:</label>
    <input
      type="date"
      [(ngModel)]="toDate"
      placeholder="Date Range"
      (change)="filterandSort()"
    />
    <input
      type="text"
      [(ngModel)]="searchtext"
      placeholder="Search..."
      class="search"
      (input)="filterandSort()"
      style="width: 300px"
    />
  </div>

  <table>
    <thead>
      <tr>
        <th (click)="toggleandSort('name')">
          Name<span *ngIf="sortKey === 'name'">
            {{ sortAsc ? "▲" : "▼" }}
          </span>
        </th>
        <th (click)="toggleandSort('date')">
          Date<span *ngIf="sortKey === 'date'">
            {{ sortAsc ? "▲" : "▼" }}
          </span>
        </th>
        <th>Market Capitalization</th>
        <th (click)="toggleandSort('status')">
          Status<span *ngIf="sortKey === 'status'">
            {{ sortAsc ? "▲" : "▼" }}
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr  (click)="goToDetails(ipo)" class="ipoDetail"  *ngFor="let ipo of filteredData">
        <td>{{ ipo.name }}</td>
        <td>{{ ipo.date }}</td>
        <td>{{ ipo.totalSharesValue | millionDollar }}</td>
        <td>
          <span class="badge expected" [ngClass]="ipo.status">{{
            ipo.status
          }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
